[Desktop Entry]
Name=Windows 10 Dark
Comment=The Windows 10 decoration for KDE Plasma
X-KDE-PluginInfo-Name=Windows10-dark
X-KDE-PluginInfo-Author=酸柠檬猹/SourLemonJuice
X-KDE-PluginInfo-Email=SourLemonJuice233@outlook.com
X-KDE-PluginInfo-Website=https://github.com/SourLemonJuice/windows10-kde-decoration
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Version=1.3.0
